
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>bbs-简单介绍一下vue3.0</title>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
  </head>
  <body>
    <div id="group" style="float: right;">
      查询：<input type="search" value="" placeholder="可以写查询条件"> <br>
      <template v-for="(item,index) in groupList" :key="'group'+index">
        <span @click="showBlogList({groupId:item.id})" style="cursor: pointer;">{{item.title}}</span><br>
        {{item.introduction}}<hr>
      </template>
    </div>
 
    <div id="bbs">
      <!--导航-->
      <el-menu default-active="1" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1">首页</el-menu-item>
        <el-menu-item index="2">管理</el-menu-item>
      </el-menu>
      <div class="line"></div>

      <!--博文列表-->
      <el-card class="box-card"
          v-for="(item,index) in blogList"
          :key="'bloglist'+index" 
          style="width:500px;margin: 5px;padding: 3px;" 
          >
            <span @click="showBlog(item.id)" style="cursor: pointer;">{{item.title}}</span><br>
            {{item.addTime}}<br>
            {{item.introduction}}<br>
            人气：{{item.viewCount}} 点赞：{{item.agreeCount}}<br>
      </el-card>
      <el-button @click="isShowBlogForm=true">写博客</el-button>

      <!--发博客-->
      <div v-show="isShowBlogForm">
        发博客<br>
        标题：<input v-model="blogForm.title" type="text"/> <br>
        分组：<select v-model="blogForm.group">
                <option disabled value="">请选择一个分组</option>
                <option v-for="item in groupList" :key="'group'+item.value">{{item.title}}</option>
              </select>
        简介：<br><textarea v-model="blogForm.introduction"  cols="50" rows="5"></textarea> <br>
        内容：<br><textarea v-model="blogForm.concent"  cols="50" rows="10"></textarea> <br>
        <input type="button" value="提交博客" @click="manageBlog.add">
      </div>

      <!--博文详细-->
      <div v-if="isShow" style="border:1px solid #db820d;margin: 5px;padding: 3px;" >
        {{blogInfo.title}}<br>
        {{blogInfo.addTime}}<br>
        <p v-html="blogInfo.concent"></p>
        {{blogInfo.concent}}<br>
        {{blogInfo.viewCount}}<br>
        {{blogInfo.agreeCount}}<br>
      </div>
      <hr>
      <!--讨论列表-->
      <div v-show="isShow" style="border:1px solid #db820d;margin: 5px;padding: 3px;"
          v-for="(item,index) in discussList" :key="'discusslist'+index">
        {{index+1}}楼：
        {{item.discusser}} 在 {{item.addTime}} 说：<br>
        <p v-html="item.concent"></p>
        点赞：{{item.agreeCount}}<br>
      </div>
      <!--发讨论-->
      <div v-show="isShow" style="border:1px solid #db820d;margin: 5px;padding: 3px;" >
        发讨论<br>
        昵称：<input v-model="discussForm.discusser" type="text"/> <br>
        内容：<textarea v-model="discussForm.concent" cols="50" rows="5"></textarea> <br>
        <input type="button" value="提交讨论" @click="submit">
      </div>

    </div>
  <script type="text/javascript">
  // 博文分组列表
  const groupLists =  Vue.reactive(
    [
      {
        value:'1',
        title:'Vue',
        introduction: 'Vue'
      },
      {
        value:'2',
        title:'React',
        introduction: 'React'
      },
      {
        value:'3',
        title:'Angular',
        introduction: 'Angular'
      },
      {
        value:'4',
        title:'Node',
        introduction: 'Node'
      }
    ])
 
  // 博文分组表单
  const groupForms =  Vue.reactive( 
     {
      value: '这是一个博文分组',
      title: '分组名称',
      introduction: '这是博文分组的简介'
    }
  )

  // 博文列表
  const blogLists =  Vue.reactive([
      {
        title: '这是一个博客',
        addTime: '2020-10-15',
        introduction: '这是博客简介',
        viewCount: 1,
        agreeCount: 1
      },
      {
        title: '这是第二个博客',
        addTime: '2020-10-16',
        introduction: '这还是博客的简介',
        viewCount: 1,
        agreeCount: 1
      }
    ])

  // 博文表单
  const blogForms =  Vue.reactive( 
    {
      title: '这是一个博客',
      group: 1,
      introduction: '这是博客的简介',
      concent: '这是博客的详细内容<br>第二行'
    }
  )

  // 讨论列表
  const blogDiscussLists = Vue.reactive({
    b1: {
      blog: {
        title: '这是一个博客',
        addTime: '2020-10-15',
        introduction: '这是博客简介',
        viewCount: 1,
        agreeCount: 1
      },
      discuessList:[
        {
          discusser:'jyk',
          addTime: '2020-10-15',
          concent: '这个博客写的不错<br>第二行',
          agreeCount: 1
        },
        { 
          discusser:'jyk',
          addTime: '2020-10-15',
          concent: '这也行？那我也能写<br>第二行',
          agreeCount: 1
        }
      ]
    }
  })

  // 讨论表单
  const discussForms =  Vue.reactive( 
    {
      title: '这是一个博客',
      group: 1,
      introduction: '这是博客的简介',
      concent: '这是博客的详细内容<br>第二行'
    }
  )

  // 博文分组的管理类
  const groupManage = () => {
    // 添加新分组
    const add = () => {
    
    }

    return {
      add
    }
  }

  // 博文的管理类
  const blogManage = () => {
    // 添加新博文
    const add = () => {
      blogLists.push(blogForms)
    }

    // 打开添加博文的表单


    return {
      add
    }
  }

  // 讨论的管理类
  const discussManage = () => {
    // 添加新讨论
    const add = () => {
      
    }

    return {
      add
    }
  }

  // vue
  const vueBlog = {
    setup() {
      // 定义数据
      const groupForm = groupForms // 分组表单
      const blogForm = blogForms // 博文表单
      const discussForm = discussForms // 讨论表单
      
      const groupList = groupLists // 分组列表
      const blogList = blogLists // 博文列表
      const blogDiscussList = blogDiscussLists // 博文+讨论列表
      
      // 定义管理类
      const manageBlog = blogManage()
      const manageDiscuss = discussManage()
      
      // 定义状态标志
      // 是否显示添加博文表单
      const isShowBlogForm = Vue.ref(false)
      // 是否显示添加博文 + 讨论
      const isShowDiscuss = Vue.ref(true)

      // 博文表单的显示与隐藏
      const showBlogForm = (isShow) => {
        isShowBlogForm.value = isShow
      }
      // 博文详细+讨论列表的显示与隐藏
      const showDiscuss = (isShow) => {
        isShowDiscuss.value = isShow
        isShowBlogForm.value = false
      }
      
      return {
        groupList,
        blogList,
        blogForm,
        blogDiscussList,
        discussForm,
        isShowBlogForm,
        isShowDiscuss,
        showBlogForm,
        showDiscuss,
        manageBlog,
        manageDiscuss
      }
    }
  }
  const vmBlog = Vue.createApp(vueBlog).use(ElementPlus).mount('#bbs')
 
  </script>
</body>
</html>

